body{
    background-color: lightblue;
    max-width: 1400px;
    margin: 0 auto;
    font-family: "Segoe UI";
}
.logo{
    width: 150px;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    top: 45px;
    right: 100px;
}
nav ul{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin-top: 50px;
    align-items: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
